.bottom-label{
    -fx-border-color: #AAA;
    -fx-border-width: 0 1 0 0;
}
.bottom-panel{
    -fx-border-color: #AAA;
    -fx-border-width: 1 0 0 0;
}

.center-table{
    -fx-border-color: #AAA;
    -fx-border-width: 1;
}